/* Both */

html {
    font-family: Helvetica;
}

::-webkit-scrollbar {
    background: rgb(241, 241, 241);
    width: 1vw;
}

.entry::-webkit-scrollbar {
    border-radius: 0 0.625rem 0.625rem 0;
    width: 1.25rem;
}

::-webkit-scrollbar-thumb {
    background: rgba(144.75, 144.75, 144.75, 0.5);
}

.entry::-webkit-scrollbar-thumb {
    border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(90, 90, 90, 0.5);
}

.entry::-webkit-scrollbar-track {
    border-radius: 0.625rem 0 0.625rem 0;
}

.mytabs-nav {
    background: rgb(162, 190, 150);
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: center;
    float: right
}

.mytabs-nav label {
    background: rgb(221, 202, 174);
    display: block;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.625rem;
    width: 45%;
    border-radius: 0 0 1.25rem 1.25rem;
    float: left;
    word-break: break-word;
    word-wrap: break-word;
    text-align: center;
}

/* PTDb */

.header {
    background: rgb(162, 190, 150);
    color: black;
    margin: 0;
    padding: 0.625rem;
    word-break: break-word;
    word-wrap: break-word;
}

header {
    font-size: 2.8125rem;
}

.credit {
    font-size: 0.75rem;
}

a {
    color: #3d90c8;
}

a:visited {
    color: #523dc8;
}

.favicon {
    font-size: 0.75rem;
    margin: 0.625rem;
    word-break: break-word;
    word-wrap: break-word;
}

body {
    background: white;
    margin: 0;
    padding: 0;
    word-break: break-word;
    word-wrap: break-word;
}

.summary {
    margin: 0.625rem;
}

#counter {
    background-color: rgb(162, 190, 150);
    border-radius: 0.625rem;
    display: inline-block;
    font-size: 1rem;
    padding: 0.15625rem;
}

#searchBar {
    border: 1px solid #eaeaea;
    border-radius: 0.625rem;
    display: block;
    font-size: 1rem;
    min-height: 2rem;
    justify-self: center;
    margin: auto;
    padding: 0.3125rem 0.625rem;
    width: 60vw;
}

.mytabs {
    background: rgb(237, 227, 214);
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: center;
}

.mytabs input[type="radio"] {
    display: none;
}

.mytabs input[type='radio']:checked+label+.tab {
    display: block;
}

.mytabs input[type="radio"]:checked+label {
    background: rgb(237, 227, 214);
}

.mytabs label {
    background: rgb(221, 202, 174);
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.625rem 0;
    width: 20%;
}

.tab {
    background: rgb(237, 227, 214);
    display: none;
    min-height: 100vh;
    order: 1;
    padding: 0;
    text-align: center;
    width: 100vw
}

.period {
    align-content: flex-start;
    background: rgb(237, 227, 214);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0.625rem;
}

.entry {
    background-color: rgb(255, 255, 255);
    border-radius: 1.25rem;
    box-sizing: border-box;
    flex: 1 1 26.9589rem;
    margin: 0.625rem;
    max-height: 50.1rem;
    overflow-x: auto;
    text-align: left;
    width: 100%;
}

.entry:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.entry-heading {
    background-color: rgb(230, 230, 230);
    box-sizing: border-box;
    margin-bottom: 0.625rem;
    object-fit: fill;
    padding: 1.25rem 1.25rem 0.625rem 1.25rem;
    position: sticky;
    text-align: left;
    top: 0;
    width: 100%;
}

.title {
    border-radius: 1.5625rem;
    font-size: 1.125rem;
    font-weight: bold;
    margin: 0;
}

.type {
    font-size: 0.9375rem;
    margin: 0;
}

.heading {
    margin-left: 0;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
}

.info {
    margin: 0 0.625rem 0.3125rem 0;
}

.refs {
    margin: 0 0 -0.625rem 0;
    padding: 0 0 0 1.5625rem;
    text-indent: -1.5625rem;
}

ul:nth-last-child(1) {
    padding-bottom: 0.625rem;
}

@media screen and (max-width: 23.75rem) {
    .mytabs label {
        font-size: 4.25vw;
    }
}

@media screen and (max-width: 58.25rem) {

    .entry {
        max-height: 100.2rem;
        max-width: 100vw;
    }

    #searchBar {
        width: 66vw;
    }
}


/* Encyclopedia Proboscidea */

* {
  box-sizing: border-box;
}

.leftcolumn {
  float: left;
  width: 82.5%;
}

.rightcolumn {
  float: left;
  width: 17.5%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.blog-body {
    background: rgb(221, 202, 174) 
}

.blog-entry {
    background-color: rgb(255, 255, 255);
    border-radius: 1.25rem;
    box-sizing: border-box;
    flex: 1 1 26.9589rem;
    margin: 0.625rem;
    overflow-x: auto;
    text-align: left;
}

.blog-entry-heading {
    background-color: rgb(230, 230, 230);
    box-sizing: border-box;
    margin-bottom: 0.625rem;
    object-fit: fill;
    padding: 1.25rem 1.25rem 0.625rem 1.25rem;
    position: sticky;
    text-align: left;
    top: 0;
    width: 100%;
}

.blog-info {
    margin: 1.25rem; 
}

.about-me-img {
    max-width: 100%;
    object-fit: fill;
    display: flex;
    margin: auto;
}

.about-me-entry {
    background-color: rgb(255, 255, 255);
    border-radius: 1.25rem;
    box-sizing: border-box;
    flex: 1 1 26.9589rem;
    margin: 0.625rem;
    overflow-x: auto;
    text-align: left;
}

.about-me-entry-heading {
    background-color: rgb(230, 230, 230);
    box-sizing: border-box;
    margin-bottom: 0.625rem;
    object-fit: fill;
    padding: 1.25rem 1.25rem 0.625rem 1.25rem;
    position: sticky;
    text-align: left;
    top: 0;
    width: 100%;
}

.about-me-info {
    margin: 1.25rem;
}


@media screen and (max-width: 23.75rem) {
    .mytabs-nav label {
        font-size: 4.25vw;
    }
}

.nav-link {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 0 0 5rem 0;
}

.photo-caption {
    font-size: 0.75rem;
    padding-bottom: 0.3125rem;
    word-break: break-word;
    word-wrap: break-word;
    text-align: center;
    opacity: 50%
}



/* Responsive layout - when the screen is less than 75rem wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 50rem) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
  .about-me-img {
    padding: 10% -10% -10% 10%
  }
  
}